{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block aside %}


    <h2>Liste des films par acteur</h2>
    <ul>
        {% for artist in artistList %}
            <li>{{ artist.firstName }} {{ artist.name }}
                <ul>
                    {% for movie in moviesList if (movie.actors == artist.name) %}
                        <li>
                            {{ movie.title }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Liste des films par réalisateur</h2>

{% endblock %}
